.car2 {
    /* Add shadows to create the "card" effect */
    width: 93%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    margin-left: 3.5%;
    margin-bottom: 3%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .car2:hover {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.9);
  }
  .car2 video{
      width: 95%;
  }
    .upper-container{
    height: 12vh;
    border-radius: 5vh;
    background: #0c49f1;
    }
    .title_drive{
      display: block;
    }
    .title_drive h1{
        color: white;
        font-weight: 400;
        padding: 4vh;
    }
    
    .lower-container{
        border-bottom-left-radius: 10vh;
        border-bottom-right-radius: 10vh;
    height: 30%;
    background: #FFF;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    display: none;
    }
    
    .lower-container h3, h4{
    box-sizing: border-box;
    line-height: 1.0;
    font-weight: lighter;
    padding:2vh;
    }
    .lower-container h4{
    color: #042747;
    opacity: .6;
    font-weight: bold;
    }
    .lower-container p{
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
    }
    .lower-container .btn{
    padding: 12px 40px;
    background: black;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 20px;

    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
    }
    .lower-container .btn:hover{
    background: transparent;
    color: #042747;
    border: 2px solid black;/*#042747;*/
    }