.cont{
    
    margin-top: 8%;
    margin-right: 3%;
    margin-left: 3%;
    background-color: azure;
    padding: 2%;
    box-shadow: 5px 10px 5px #888888;

}
.container {
    position: relative;

    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
  }
  .text-block.img{ 
      width: 20vh;
  }
  .text-block-black{
      padding: 4vh;
  background-color: black;
  }
  .top-left {
    position: absolute;
    top: 0.6vh;
    left: 3.2vh;
    width: 10%;
  }
  
  div.main {
    height: 100vh;
    /* display: flex; */
    align-items: center;
    background-color: #042747;
    
    
  }
  .box{
    padding-top:3% ;
    padding-left:15% ;
    padding-right: 0%;
    display: block;
    float: left;
    width: 50%;
    background-color: #cad6f8f6;
  }
  .img{
    width: 100%;
  }








* {
  transition: 0.33  ease all;
  box-sizing: border-box;
}











.company{
  color: rgb(10, 10, 10);
  font-family: "Poppins", sans-serif;
  font-size: 200%;
  text-align: center;


}


